<body id="store">
    <div id="header">
        <header id="head">
            <img id="crono" src="images/Crono-Front.gif">
            <div id="uname"></div>
            <img id="coin" src="images/coin.png">
            <div id="points"></div>


        </header>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4"></div>
        <h3 class="text-center col-md-4 card mx-3 my-1 col-md-1">STORE</h3>
        <div class="col-md-4"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="hero">
            <h3 class="card bg-info mt-2">Hero</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/HERO.png" alt="">
            <h3 class="card bg-warning">100 Coins</h3>
        </div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="fairy">
            <h3 class="card bg-info mt-2">Fairy</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/GIRLFAIRY.png" alt="">
            <h3 class="card bg-warning">100 Coins</h3>
        </div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="owl">
            <h3 class="card bg-info mt-2">Owl</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/OWL.png" alt="">
            <h3 class="card bg-warning">300 Coins</h3>
        </div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="pig">
            <h3 class="card bg-info mt-2">Pig</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/PIG.png" alt="">
            <h3 class="card bg-warning">300 Coins</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="villain">
            <h3 class="card bg-info mt-2">Villain</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/VILLIAN.png" alt="">
            <h3 class="card bg-warning">500 Coins</h3>
        </div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="genie">
            <h3 class="card bg-info mt-2">Genie</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/GIRLGENIE.png" alt="">
            <h3 class="card bg-warning">500 Coins</h3>
        </div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="unicorn">
            <h3 class="card bg-info mt-2">Unicorn</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/UNICORN.png" alt="">
            <h3 class="card bg-warning">900 Coins</h3>
        </div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="shark">
            <h3 class="card bg-info mt-2">Shark</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/SHARK.png" alt="">
            <h3 class="card bg-warning">900 Coins</h3>
        </div>
        <div class="col-md-4"></div>
    </div>

<span id="userscore" data-score={{Score}}></span>
<span id="userfirst" data-first={{firstname}}></span>
<span id="T1" data-T1={{T1store}}></span>
<span id="T2" data-T2={{T2store}}></span>
<span id="T3" data-T3={{T3store}}></span>
<span id="T4" data-T4={{T4store}}></span>
<span id="T5" data-T5={{T5store}}></span>
<span id="T6" data-T6={{T6store}}></span>
<span id="T7" data-T7={{T7store}}></span>
<span id="T8" data-T8={{T8store}}></span>

    <footer>
        <div id="prompts">Instructions: Say the name of the trophy you would like to buy. Say Go Back to go back to town.
        </div>


    </footer>
</body>
<script>
    var username = $("#userfirst").attr("data-first");
    var usercoins = parseInt($("#userscore").attr("data-score"));

    var T1store = $("#T1").attr("data-T1");
    var T2store = $("#T2").attr("data-T2");
    var T3store = $("#T3").attr("data-T3");
    var T4store = $("#T4").attr("data-T4");
    var T5store = $("#T5").attr("data-T5");
    var T6store = $("#T6").attr("data-T6");
    var T7store = $("#T7").attr("data-T7");
    var T8store = $("#T8").attr("data-T8");

    $("#uname").text(username);
    $("#points").text(usercoins);

    var hero = new Audio("./sounds/hero.mp3");
    var fairy = new Audio("./sounds/fairy.mp3");
    var owl = new Audio("./sounds/owl.mp3");
    var pig = new Audio("./sounds/pig.mp3");
    var villain = new Audio("./sounds/villain.mp3");
    var genie = new Audio("./sounds/genie.mp3");
    var unicorn = new Audio("./sounds/unicorn.mp3");
    var fail = new Audio("./sounds/fail.mp3");

    function updatetrophiesstore() {
        if (T1store==="false") {
            $("#hero").attr("style", "display: none;");
            console.log("in the T1 function")
        };
         if (T2store==="false") {
            $("#fairy").attr("style", "display: none;");
                        console.log("in the T2 function")
        }
         if (T3store==="false") {
            $("#owl").attr("style", "display: none;");
        }
         if (T4store==="false") {
            $("#pig").attr("style", "display: none;");
        }
         if (T5store==="false") {
            $("#villain").attr("style", "display: none;");
        }
         if (T6store==="false") {
            $("#genie").attr("style", "display: none;");
        }
         if (T7store==="false") {
            $("#unicorn").attr("style", "display: none;");
        }
         if (T8store==="false") {
            $("#shark").attr("style", "display: none;");
        }
    }

    var commands = {
        'hero': function () {
            if ((usercoins - 100) >= 0) {
                hero.play();
                usercoins -= 100;
                $.ajax({
                    url: "/api/updatescore",
                    method: "PUT",
                    data: {
                        Score: usercoins,
                        T1store: false,
                    }
                })

                $("#hero").attr("style", "display: none;");
                $("#points").text(usercoins);
            }
                        else{
            fail.play();
        }},
        
        'fairy': function () {
            if ((usercoins - 100) >= 0) {

                fairy.play();
                usercoins -= 100;
                $.ajax({
                    url: "/api/updatescore",
                    method: "PUT",
                    data: {
                        Score: usercoins,
                        T2store: false
                    }
                })
                $("#fairy").attr("style", "display: none;");
                $("#points").text(usercoins);
            }
            else{
            fail.play();
        }},        
        'owl': function () {
            if ((usercoins - 300) >= 0) {
                owl.play();
                usercoins -= 300;
                $.ajax({
                    url: "/api/updatescore",
                    method: "PUT",
                    data: {
                        Score: usercoins,
                        T3store: false
                    }
                })
                $("#owl").attr("style", "display: none;");
                $("#points").text(usercoins);
            } 
            else{
            fail.play();
        }},        
        'pig': function () {
            if ((usercoins - 300) >= 0) {
                pig.play();
                usercoins -= 300;
                $.ajax({
                    url: "/api/updatescore",
                    method: "PUT",
                    data: {
                        Score: usercoins,
                        T4store: false
                    }
                })
                $("#pig").attr("style", "display: none;");
                $("#points").text(usercoins);
            } 
            else{
            fail.play();
        }},        
        'villain': function () {
            if ((usercoins - 500) >= 0) {

                villain.play();
                usercoins -= 500;
                $.ajax({
                    url: "/api/updatescore",
                    method: "PUT",
                    data: {
                        Score: usercoins,
                        T5store: false
                    }
                })
                $("#villain").attr("style", "display: none;");
                $("#points").text(usercoins);
            }
            else{
            fail.play();
        }},
        'genie': function () {
            if ((usercoins - 500) >= 0) {

                genie.play();
                usercoins -= 500;
                $.ajax({
                    url: "/api/updatescore",
                    method: "PUT",
                    data: {
                        Score: usercoins,
                        T6store: false
                    }
                })
                $("#genie").attr("style", "display: none;");
                $("#points").text(usercoins);
            }
            else{
            fail.play();
        }},            
            'unicorn': function () {
                            if ((usercoins - 900) >= 0) {

                unicorn.play();
                usercoins -= 900;
                $.ajax({
                    url: "/api/updatescore",
                    method: "PUT",
                    data: {
                        Score: usercoins,
                        T7store: false
                    }
                })
                $("#unicorn").attr("style", "display: none;");
                $("#points").text(usercoins);
            }
            else{
            fail.play();
        }},            
            'shark': function () {
                            if ((usercoins - 900) >= 0) {

                shark.play();
                usercoins -= 900;
                $.ajax({
                    url: "/api/updatescore",
                    method: "PUT",
                    data: {
                        Score: usercoins,
                        T8store: false
                    }
                })
                $("#shark").attr("style", "display: none;");
                $("#points").text(usercoins);
            }
            else{
            fail.play();
        }},            
        'go back': function () {
                window.location.href = "/hub"
            }
        };

    // Add our commands to annyang
    annyang.addCommands(commands);

    // Start listening. You can call this here, or attach this call to an event, button, etc.
    annyang.start();
    annyang.isListening()

        updatetrophiesstore();

</script>